.cards-container {
    margin: 0px;
}

.content-wrapper {
    padding: 8px;
}

.mat-card-image {
    width: 30%;
    height: 30%;
    
}

.card-item {
    margin-bottom: 14px;
}

.events-grid-greeting {
    font-size: 16px;
    font-weight: bold;
    margin-left: 6px;
}

.mat-card-contents {
    display: inline-flex;
    margin: 20px 50px;
}

mat-card-content {
    margin-left: 50px;
}

.events-grid-month-wrapper {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 8px;
}

.events-grid-month {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.border-bottom {
    border-bottom: 2px solid black;
    height: 17px;
}

